<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
		<style type="text/css">
			html { height: 100%}
			body { height: 100%; margin:0; padding: 0}
			#map-canvas { height: 100%;}
		</style>

		<script type="text/javascript"
			src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAkbUX691S8lRUMxcnmpcBzZjLsu1odlfA&sensor=false">
		</script>

		<script type="text/javascript">
		var CENTER_OF_US = new google.maps.LatLng(39.828175, -98.5795);
			function initialize() {
				var mapOptions = {
					center: new google.maps.LatLng(39.828175, -98.5795),
					zoom: 4,
					//disableDefaultUI: true,
					//disableDoubleClickZoom: true,
					//keyboardShortcuts: false,
					panControl: false,
					rotateControl: false,
					streetViewControl: false,
					mapTypeControl: false,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
			}

			google.maps.event.addDomListener(window, 'load', initialize);
		</script>

	</head>

	<body>
		<div id="map-canvas"/>
	</body>
<html>
